.git
.gitignore
.env
.env.backup
.env.*.backup
node_modules
npm-debug.log
yarn-error.log
.vscode
.idea
.DS_Store
*.swp
*.swo
*~
.composer
dist
build
/public/hot
storage/logs/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/*
tests/
.phpunit.result.cache
docker-compose.yml
Dockerfile
.dockerignore
*.md
!README.md
public/build/hot
